
.main-player-component {
  height: 360px;
  width: 640px;
  background-color: #000;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.main-player {
  width: 100%;
  height: 100%;
}

.player-control {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(33,32,32,0.0), rgba(33,32,32, 0.55));
  height: 60px;
  width: 640px;
  text-align: left;
  top:300px;
  left: 0;
  z-index: 2147483647;
}

.player-control .control-down {
  margin-top: 0px;
}

.player-control .control-down .right {
  float: right;
  display: inline;
  margin-right: 10px;
}

.player-control .progress-bar-x {
  height: 7px;
  border: 1px solid #FCFCFC;
  padding: 2px;
  margin: 5px 10px 0px 10px;
  cursor: pointer;
}

.player-control .progress-x {

}

.player-control .progress-bar-x .bufferBar {
  background-color: #9F9F9F;
  position: relative;
  width: 0px;
  height: 7px;
}
.player-control .progress-bar-x .timeBar {
  background-color: #fff;
  position: absolute;
  width: 0px;
  height: 7px;
  top: 8px;
}


.player-titleBar {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(33,32,32, 0.55), rgba(33,32,32,0.0));
  height: 30px;
  width: 100%;
  text-align: left;
  padding-top: 5px;
  z-index: 48;
  top:0px;
}

.player-titleBar .main-title {
  color: #fff;
  font-size: 15px;
  margin: 0px 10px 5px 10px;
  font-family: sans-serif;
}

/********************/
.fa-btn {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 11px;
  color: #fff;
}

.duration {
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

.hide {
  display: none;
}
/**********************/

.touchable-component {
  position: absolute;
  width: 640px;
  height: 275px;
  top: 25px;
  left: 0;
  /*z-index: 49;*/
  text-align: center;
  background-color: transparent;
  z-index: 2147483647;
}

/*********************/

video::-webkit-media-controls {
  display:none !important;
}
/*.player-control-fs {
  background-color: #fff;
  height: 60px;
  text-align: left;
  z-index: 2147483647;
  position: relative;
}
*/


.error-component {
  position: absolute;
  z-index: 2147483647;
  top: 0px;
  left: 0px;
  background-image: url("noise.gif");
  background-position: top left;
  background-repeat: repeat;
  width: 640px;
  height: 360px;
}